<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pindaiba</title>
</head>
<body>
    <h1>Qual a diferença de temperatura entre Boa Vista Roraima e Sorocaba São Paulo agora?</h1>
    <div>Sorocaba = <%= sorocabaTemp %>°C</div>
    <div>Local foda = <%= roraimaTemp %>°C</div>
    <div>Diferença = <%= diferenca %>°C</div>
</body>
</html>